<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
	<contextName>dataimport</contextName>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>false</withJansi>
		<encoder charset="utf-8">
			<pattern>
				%msg%n
			</pattern>
		</encoder>
	</appender>
	
	<root level="DEBUG">
		<appender-ref ref="stdout" />
	</root>
	<logger name="org" level="WARN" />
	<logger name="ch" level="WARN" />
	<logger name="net" level="WARN" />
	<logger name="org.apache.cxf" level="INFO"></logger>
</configuration>